.action-button {
  min-width: 88px;
  font-size: 14px;
  border-radius: 4px;
}
.action-button.cancel-button {
  margin-right: 16px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  color: #C3CBCF;
}
.action-button.cancel-button:hover {
  color: #c92027;
  border-color: #c92027;
}
.action-button.submit-button {
  background-color: #c92027;
  border-color: #c92027;
  color: #ffffff;
}
.action-button.submit-button:hover {
  background-color: #9d191e;
  border-color: #9d191e;
}
.action-submit-note {
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 16px;
  font-size: 12px;
  color: #656C74;
}
.action-submit-note .text {
  font-size: 18px;
  color: #c92027;
}
